<!DOCTYPE html>
<html lang="fr" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>L3 Projet</title>
    <link
      rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}"
    />
  </head>
  <body class="bg-white dark:bg-gray-900 text-black dark:text-white">
    <!--Header: Logo et Options-->
    <header class="h-20 flex justify-between items-center px-4">
      <a href="/">
        <img
          class="h-10 block dark:hidden"
          src="{{url_for('.static', filename='/public/img/logoLarge-light.png')}}"
        />
        <img
          class="h-10 hidden dark:block"
          src="{{url_for('.static', filename='/public/img/logoLarge-dark.png')}}"
        />
      </a>
      <button id="hamburger">
        <img
          class="h-10 block dark:hidden"
          src="{{url_for('.static', filename='./public/img/hamburger-light.png')}}"
        />
        <img
          class="h-10 hidden dark:block"
          src="{{url_for('.static', filename='./public/img/hamburger-dark.png')}}"
        />
      </button>
    </header>

    <!--SearchBar: Barre de recherche et suggestions de contenu-->
    <div class="h-96 w-4/5 max-w-lg mx-auto flex flex-col justify-center">
      <form
        class="w-full h-12 flex justify-center items-center gap-2"
        action="/result_page"
      >
        <input
          id="searchBar"
          class="bg-gray-100 dark:bg-gray-800 flex-1 min-w-0 h-full px-4 rounded-2xl focus: outline-none"
          type="text"
          name="q"
          autocomplete="off"
          placeholder="Recherche..."
        />
        <button
          class="bg-green-300 hover:bg-green-200 w-12 h-full flex justify-center items-center rounded-2xl"
          type="submit"
        >
          <img
            class="h-max"
            src="{{url_for('.static', filename='./public/img/searchIcon-light.png')}}"
          />
        </button>
      </form>
    </div>

    <div class="blank"></div>

    <!--Footer: Informations complementaires (Qui sommes-nous, FAQ, etc...)-->
    <footer
      class="bg-gray-100 dark:bg-gray-800 h-52 text-black dark:text-white p-4"
    >
      <div class="w-4/5 mx-auto grid gap-10 grid-cols-1 lg:grid-cols-2">
        <div>
          <span class="capitalize font-bold text-lg">A propos</span>
          <ul class="ml-4 mt-4">
            <li>
              Projet L3AO1 Université de Paris Cité
              <br />
              Steeven Mathieu Yanmei Dorian
            </li>
          </ul>
        </div>
        <div>
          <span class="capitalize font-bold text-lg">Nous contacter</span>
          <ul class="ml-4 mt-4">
            <li>
              Projet L3AO1 Université de Paris Cité
              <br />
              Steeven Mathieu Yanmei Dorian
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <!--Option: Menu permettant la modification de certains paramètres -->
    <div
      class="fixed top-20 right-5 p-2 w-52 bg-gray-100 dark:bg-gray-800 rounded-2xl hidden"
      id="optionsMenu"
    >
      <div class="grid grid-cols-1 gap-2">
        <div class="col-span-2 px-2 py-1 font-bold text-lg">
          <span>Options</span>
        </div>
        <button
          id="colorMode"
          class="bg-white transition-all dark:bg-gray-900 h-16 rounded-xl flex justify-center items-center overflow-hidden"
        >
          <div
            class="flex justify-center items-center h-full w-full hover:scale-150 transition-all"
          >
            <svg
              class="h-1/2 dark:fillWhite"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M256 159.1c-53.02 0-95.1 42.98-95.1 95.1S202.1 351.1 256 351.1s95.1-42.98 95.1-95.1S309 159.1 256 159.1zM509.3 347L446.1 255.1l63.15-91.01c6.332-9.125 1.104-21.74-9.826-23.72l-109-19.7l-19.7-109c-1.975-10.93-14.59-16.16-23.72-9.824L256 65.89L164.1 2.736c-9.125-6.332-21.74-1.107-23.72 9.824L121.6 121.6L12.56 141.3C1.633 143.2-3.596 155.9 2.736 164.1L65.89 256l-63.15 91.01c-6.332 9.125-1.105 21.74 9.824 23.72l109 19.7l19.7 109c1.975 10.93 14.59 16.16 23.72 9.824L256 446.1l91.01 63.15c9.127 6.334 21.75 1.107 23.72-9.822l19.7-109l109-19.7C510.4 368.8 515.6 356.1 509.3 347zM256 383.1c-70.69 0-127.1-57.31-127.1-127.1c0-70.69 57.31-127.1 127.1-127.1s127.1 57.3 127.1 127.1C383.1 326.7 326.7 383.1 256 383.1z"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </body>
  <script src="{{url_for('.static', filename='./javascript/handler.js')}}"></script>
  <script src="{{url_for('.static', filename='./javascript/renderBooks.js')}}"></script>
</html>
