<!DOCTYPE html>
<html lang="fr" class="">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>L3 Projet</title>
        <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}" />
    </head>
    <body class="bg-white dark:bg-gray-900 text-black dark:text-white">
        <!--Header: Logo et Options-->
        <header class="h-20 flex justify-between items-center px-4">
            <a href="/">
                <img
                    class="h-10 block dark:hidden"
                    src="{{url_for('.static', filename='/public/img/logoLarge-light.png')}}"
                />
                <img
                    class="h-10 hidden dark:block"
                    src="{{url_for('.static', filename='/public/img/logoLarge-dark.png')}}"
                />
            </a>
            <button id="hamburger">
                <img
                    class="h-10 block dark:hidden"
                    src="{{url_for('.static', filename='./public/img/hamburger-light.png')}}"
                />
                <img
                    class="h-10 hidden dark:block"
                    src="{{url_for('.static', filename='./public/img/hamburger-dark.png')}}"
                />
            </button>
        </header>

        <div class="space"></div>

        <div class="h-full w-4/5 mx-auto flex flex-col justify-center">
            <p>No Result Found for : " {{request}} "</p>
        </div>

        <div class="space"></div>

        <!--Footer: Informations complementaires (Qui sommes-nous, FAQ, etc...)-->
        <footer
            class="bg-gray-100 dark:bg-gray-800 h-52 text-black dark:text-white p-4"
        >
            <div class="w-4/5 mx-auto grid gap-10 grid-cols-1 lg:grid-cols-2">
                <div>
                    <span class="capitalize font-bold text-lg">A propos</span>
                    <ul class="ml-4 mt-4">
                        <li>
                            Projet L3AO1 Université de Paris Cité
                            <br>
                            Steeven
                            Mathieu
                            Yanmei
                            Dorian
                        </li>
                    </ul>
                </div>
                <div>
                    <span class="capitalize font-bold text-lg"
                        >Nous contacter</span
                    >
                    <ul class="ml-4 mt-4">
                        <li>
                            Projet L3AO1 Université de Paris Cité
                            <br>
                            Steeven
                            Mathieu
                            Yanmei
                            Dorian
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        <!--Option: Menu permettant la modification de certains paramètres -->
        <div
            class="fixed top-20 right-5 p-2 w-52 bg-gray-100 dark:bg-gray-800 rounded-2xl hidden"
            id="optionsMenu"
        >
            <div class="grid grid-cols-2 gap-2">
                <div class="col-span-2 px-2 py-1 font-bold text-lg">
                    <span>Options</span>
                </div>
                <button
                    id="colorMode"
                    class="bg-white transition-all dark:bg-gray-900 h-16 rounded-xl flex justify-center items-center overflow-hidden"
                >
                    <div
                        class="flex justify-center items-center h-full w-full hover:scale-150 transition-all"
                    >
                        <img class="h-1/2" src="{{url_for('.static', filename='./public/img/sunIcon.gif')}}" />
                    </div>
                </button>
                <div
                    class="bg-white transition-all dark:bg-gray-900 h-16 rounded-xl overflow-hidden"
                >
                    <div
                        class="flex justify-center items-center h-full w-full hover:scale-150 transition-all"
                    >
                        <img class="h-1/2" src="{{url_for('.static', filename='./public/img/heart.gif')}}" />
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{url_for('.static', filename='./javascript/handler.js')}}"></script>
    <script src="{{url_for('.static', filename='./javascript/renderBooks.js')}}"></script>
</html>
